.editor{
    position:fixed;

    background-color: darkslategrey;
}
.statusbar{
    bottom:0px;
    height:50px;
    position:fixed;
    width:100%;
    background-color: darkcyan;
    color:white;
}
.nav{
    background-color: #1e1e1e;

}
.nav-tabs{
    background-color: #1e1e1e;
}
.nav-item{
    background-color: #1e1e1e;
    .active{
        background-color: #1e1e1e !important;

    }
}
