.arrowTab{
    padding:10px;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    &:hover {
        color: #444;
        cursor: pointer;
    }
}
svg{
    margin: 0 auto;
  display: block;
}