.tab {
    width: 20%;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: small;
}

.tab a {
    color: black;
    display: block;
    padding: 10px;
    font-size: large;
    text-decoration: none;
}

.tab a:hover {
    padding: 10px;
    color: black;
    background-color: #347deb;
}

.tabDay {
    padding-bottom: 10px;
}