.tab {
    width: 20%;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: small;
}

.tab .tabButton {
    color: black;
    display: block;
    padding: 8px;
    font-size: large;
    text-decoration: none;
    &:hover {
        padding: 8px;
        color: black;
        background-color: #347deb;
        cursor: pointer;
    }
}

.tab .tabButtonActive {
    color: black;
    display: block;
    padding: 8px;
    font-size: large;
    text-decoration: none;
    
    background-color: #347deb;
}

.tabDay {
    padding-bottom: 8px;
}